*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background: linear-gradient(-7deg, rgb(255, 224, 150), rgb(255, 152, 200))
    color: beige
    font-family: Arial, Helvetica, sans-serif

section
    height: 100vh
    color: rgba(48, 48, 48, 0.7)
    text-align: center
    display: flex
    flex-direction: column
    gap: 1rem
    justify-content: center
    align-items: center

.console
    display: flex
    flex-wrap: wrap
    justify-content: center

    gap: 1rem
    padding: 0.5rem

    font-family: monospace
    color: beige
    background-color: rgba(72, 83, 84, 0.5)

    input
        padding: 0.5rem

    .message-presets
        position: absolute
        left: 0
        right: 0
        display: flex
        flex-direction: column
        li
            list-style: none
            padding: 0.5rem
            background: rgba(0, 0, 0, 0.5)
            cursor: pointer
            &:hover
                background: rgba(255, 255, 255, 0.5)
                color: #262626

.message-preset
    display: flex
    gap: 0.5rem

    p
        padding: 0.65rem

.filter
    position: relative
    // .command
    //     display: flex
    //     flex-wrap: wrap
    //     justify-content: center
    //     flex: auto
    //     gap: 1rem

    //     .argument
    //         display: flex
    //         gap: 0.25rem

    //         input
    //             background: none
    //             color: beige
    //             font-family: monospace
    //             outline: none
    //             border: none
    //             border-bottom: 0.1rem dotted rgb(255, 255, 255)

    //             &:focus
    //                 border-bottom: 0.1rem solid rgb(255, 255, 255)
